<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Users</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

<form th:each="u : ${user}">
    <a th:href="@{/admin/{id}(id=${u.getId()})}" th:text="${u.getNickname()}"></a>
</form>

<form th:each="u : ${user}"
      th:method="DELETE" th:action="@{/admin/{id}(id=${u.getId()})}">
    <input type="submit" value="Delete"/>
</form>


<br/>
<form action="/logout">
    <input type="submit" value="logout">
</form>

<a href="/admin/new">Создать нового пользователя</a>
</body>
</html>