<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Show</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

<form th:text="${user.getId()}"></form>
<form th:text="${user.getFirstName()}"></form>
<form th:text="${user.getSecondName()}"></form>
<form th:text="${user.getNickname()}"></form>
<form th:text="${user.getEmail()}"></form>
<form th:each="role : ${user.getRoles()}" th:text="${role.name}"></form>


<a th:href="@{/admin/{id}/update(id=${user.getId()})}">Edit</a>

<form action="/admin/user/">
  <input type="submit" value="admin">
</form>
<form action="/logout">
  <input type="submit" value="logout">
</form>

</body>
</html>